body {
	background-image: url("../images/art-graffiti.jpg");
	background-size: cover;
}
h1 {
    font-size: 5.5em;
    color: yellow;
}
h2 {
    font-size: 1.4em;
    margin-top: -10px;
    font-weight: normal;
    color: white;
}
.statement-text {
	background-color: black;
	opacity: .8;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 18%;
	padding: 40px;
	text-align: center;
}
p#text {
    margin-top: 20px;
    color: white;
    font-size: 1.2em;
}
input {
    margin-top: 20px;
    width: 150px;
    padding: 5px;
    background-color: transparent;
}
.ghost-button {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}